
*{
    margin: 0;
    padding: 0;
text-decoration: none;
list-style: none;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}


header{
    background: url(./img/image\ header.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 160px;
}
nav{
    padding-top: 26px;
}
nav::after{
content: "";
display: block;
width: 100%;
height: 1px;
background: #FFFFFF;
}

nav::before{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
background: #FFFFFF;
    }
    
.list{
display: flex;
padding-top: 17px;
justify-content: center;
}

.list_item{
padding-left: 50px;
}

.list_item a{
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

li a:hover{
    color: #5B00FB;
}
.logo{
text-align: end;
}

.fa-solid{
    font-size: 25px;
    padding: 18px;
 color: #FFFFFF;
    border: none;
}

.NFTs{
font-weight: 600;
font-size: 46px;
text-align: center;
color: #FFFFFF;
padding-top: 170px;
}

.Own{
    font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #FFFFFF;
padding-bottom: 40px;
}

.Latest{
width: 236px;
height: 49px;
left: 602px;
top: 384px;
background: linear-gradient(90deg, #5D00FA 0%, #D70BCA 100%);
border-radius: 46px;
color: #FFFFFF;
}

section{
    background: #1E1E37;
}

.sectiontext{
    padding-top: 90px;
    padding-bottom: 30px;
    font-weight: 600;
font-size: 36px;
line-height: 43px;
text-align: center;
color: #FFFFFF;
}

.card1{
    padding-bottom: 25px;
    text-align: center;
    color: #FFFFFF;
    background: radial-gradient(2464.13% 850.69% at 100% 6.65%, #33034f 0%, #636DC1 19.3%, #1D0F35 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
border-radius: 10px;
}

.card1 img{
    width: 215px;
    height: 225px;
    padding: 15px 0 15px 0;
}
.card-title1{
    font-weight: 600;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #FFFFFF;
padding-bottom: 68px;
}

.card-title12{
    width: 215px;
   margin: auto;
   padding-bottom: 9px;
}

.menu{
    display: flex;
    justify-content: center;
}


.section2{
    padding-top: 70px;
    padding-bottom: 160px;
}

.sectioncard1{
    display: flex;
    justify-content: space-between;
}
.sectioncard2{
    padding-top: 30px;
    display: flex;
}

.btn-light{
    background: #FFFFFF;
    border-radius: 37px;
    padding: 14px 46px;
    color: linear-gradient(90deg, #5D00FA 0%, #D70BCA 100%);
}

footer{
    background: #09010D;
    padding-bottom: 100px;
}

.Enter{
 font-weight: 600;
font-size: 16px;
color: #FFFFFF;
padding-top: 52px;
padding-bottom: 20px;
}

.form-control_Youremail{
    width: 410px;
padding: 16px 246px 16px 46px;
border: 0.5px solid #D0D0D0;
border-radius: 48px;
margin-bottom: 60px;
background: transparent;
}


.position{
    position: relative; 
    padding-bottom: 18px;
 }

 .vector{
margin-right: -40px;

 }

 .vectortele{
    margin-right: -40px;
margin-bottom: 0px;
margin-left: -50px;
 }

 .footercard{
    color: #FFFFFF;
    text-align: start;
 }
 hr{
    padding-top: 9px;
    padding-bottom: 16px;
    color:   #D0D0D0;
 }

 .footerli{
 font-weight: 400;
font-size: 14px;
text-transform: capitalize;
color: #FFFFFF;
line-height: 25px;
 }

 .footertext{
    text-transform: uppercase;
    font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
 }


 .header_discover{
background: #1E1E37;
padding-bottom: 50px;
 }

    .soction01::after{
 content: "";
display: block;
width: 100%;
height: 1px;
background: #FFFFFF;
    }

   .browse{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
   }

    .browsetext{
color: #FFFFFF;
    }

   .ul_li {
    display: flex;
    align-items: center;
   }

   .ul_li a{
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
   }

 .sort{
    color: #FFFFFF;
    margin: 0;
 }

.select_by{
    display: flex;
    justify-content: space-around;
    padding-bottom: 36px;
}


 .form-select{
   margin: 0;
    width: 206px;
height: 42px;
border: 0.5px solid #FFFFFF;
border-radius: 30px;
background: transparent;
color: #FFFFFF;
margin-top: -7px;
 }

 option{
color: #09010D;
 }

.img_menu{
    text-align: end;
}

.section3_discover{
    padding-bottom: 160px;
}

li a:hover{
    border: 1px solid rgb(29, 53, 189);
background: linear-gradient(90deg, #5D00FA 0%, #D70BCA 100%);
border-radius: 23px;
color: #FFFFFF;
}


.card_m img{
width: 302px;
height: 252px;
padding-top: 30px;
padding-bottom: 20px;
padding-left: 10px;
padding-right: 10px;
}
.card_m{
    padding-bottom: 25px;
    text-align: center;
    color: #FFFFFF;
    background: radial-gradient(2464.13% 850.69% at 100% 6.65%, #33034f 0%, #636DC1 19.3%, #1D0F35 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
border-radius: 10px;
}

.section3_marketplace{
    padding-bottom: 160px;
}





@media( max-width: 575px){
    .list_item {
        padding-left: 20px;
    }
    .NFTs {
        font-weight: 600;
        font-size: 26px;
        text-align: center;
        color: #FFFFFF;
        padding-top: 100px;
    }
    .Own {
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        color: #FFFFFF;
        padding-bottom: 20px;
    }
    .Latest {
        width: 136px;
        height: 49px;
        /* left: 602px; */
        /* top: 384px; */
        background: linear-gradient(90deg, #5D00FA 0%, #D70BCA 100%);
        border-radius: 26px;
        color: #FFFFFF;
    }
    .sectiontext {
        padding-top: 20px;
        padding-bottom: 10px;
        font-weight: 600;
        font-size: 26px;
        line-height: 43px;
        text-align: center;
        color: #FFFFFF;
    }
    .list_item a {
        font-family: 'SF Pro Text';
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-decoration: none;
    }
    .position {
        position: relative;
        padding-bottom: 18px;
        margin-top: 10px;
    }
    .form-select {
        margin: 0;
        width: 150px;
        height: 30px;
        border: 0.5px solid #FFFFFF;
        border-radius: 30px;
        background: transparent;
        color: #FFFFFF;
        margin-top: -px;
    }
    
    .form-select {
        display: block;
        width: 100%;
        padding: 0.375rem 2.25rem 0.375rem 0.75rem;
        -moz-padding-start: calc(0.75rem - 3px);
        font-size: 13px;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e);
    
    }




}